{% extends 'base.html.twig' %}

{% block title %}My Posts
{% endblock %}

{% block body %}
	<style>
		input {
			outline: none;
			border: none;
		}

		input:active,
		input:focus,
		input:hover {
			border: none;
			outline: none;
		}
		.search-field {
			width: 80%;
		}
		.search {
			border: 1px solid gray;
			border-radius: 20px;
			width: 100%;
			padding-inline: 10px;
		}
		.search:active,
		.search:focus,
		.search:hover {
			border: 1px solid gray;
		}
	}
	</style>
	<div class="header d-flex justify-content-between mt-5 mb-4">
		<h1 class="h3 font-weight-normal">Posts
			{% if category is defined %}
				with category "{{ category.title }}"
			{% endif %}
		</h1>
		<a href="{{ path('post_store') }}" class="btn btn-success">Create New</a>
	</div>
	<form class="d-flex justify-content-between gap-2 search-field mb-5" method="get">
		<input type="search" name="title" class="search" placeholder="Search categories">
		<button type="submit" class="btn btn-dark">Search</button>
	</form>
	{% for message in app.flashes('success') %}
		{% if message is not empty %}
			<div class="alert alert-success" role="alert">
				{{ message }}
			</div>
		{% endif %}
	{% endfor %}
	<div class="d-flex gap-5 ">
		<div class="row gap-4">
			{% if posts is defined and posts is not empty %}
				{% for post in posts %}
					<div class="card col-lg-3" style="width: 18rem;">
						<img src="{{ asset('uploads/posts/' ~ post.image) }}" alt="" class="card-img-top" width="286" height="190">
						<div class="card-body ">
							<h5 class="card-title text-truncate">{{ post.title }}</h5>
							<p class="card-text text-truncate">{{ post.body }}</p>
							<div class="d-flex justify-content-between">
								<a href="{{ path('post_show', {'slug': post.slug}) }}" class="btn btn-primary">Go to post</a>
							</div>
						</div>
					</div>
				{% endfor %}
			{% else %}
				<div class="text-secondary mt-5" style="width: 80%; text-align:center;font-size:28px;">Пусто</div>
			{% endif %}
		</div>
	</div>		
{% endblock %}
