{% extends 'base.html.twig' %}

{% block title %}
	{{ post.title }}
{% endblock %}
{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="container">
        <h1 class="h1 mt-4 mb-4">{{ post.title }}</h1>
		<img src="{{ asset('uploads/posts/' ~ post.image) }}" alt="" class="mb-4" width=800 heght=500>
        <p style="font-size: 24px;">{{ post.body }}</p>
        <p class="text-secondary">{{ post.createdAt|date('i:H d.M.Y') }}</p>
    </div>
{% endblock %}
